/* @font-face {
  font-family: 'OpenSansCondensed';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/opensans/OpenSansCondensed-Light.ttf') format('truetype');
} */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/opensans/opensans300light.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/opensans/opensans400normal.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/opensans/opensans600normal.ttf') format('truetype');
}
/* @font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/opensans/opensans700normal.ttf') format('truetype');
} */
