@highlight: #15b16c;
@highlight-embed: #000508;
@highlight-alternative: #007142;
@light-bg: white;
@light-color: #333;
@dark-color: white;
@dark-bg: #010c16;
@dark-bg-alternate: #162633;
@dark-bg-alternate-lighter: #223748;
@darkest-bg: #010e15;
@darkest-color: @dark-color;
@dark-bg-lighter: rgba(15, 18, 20, 0.5); //fade(lighten(@dark-bg, 10%), 50%);
@dark-color-embeded: #667e8c;
@input-bg: @dark-bg-alternate;
@input-color: white;
@input-border-color: #293642;
@border-color: #DADADA;
@border-highlight: #38885D;