@import (less) "../fonts/fontawesome/stylesheet.css";
@import (less) "../fonts/opensans/stylesheet.css";
@import (less) "../fonts/raleway/stylesheet.css";
@import "./scrollbar";

@import "./settings";

@playerHeight: 5.25em;

*[v-cloak] { display: none; }
html, body { width:100%; height: 100%; margin:0 }

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #777;
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #777;
}

::-ms-input-placeholder { /* Microsoft Edge */
	color: #777;
}

input { color: @light-color; background: @dark-bg}
body {
	overflow: hidden;
	position: relative;
	display:block;
	font-family: "Open Sans", sans-serif;
	font-size: .8em;
	font-weight: 400;
	background: @dark-bg;
	color: @dark-color;
	h1, h2, h3, h4 {
		margin: 0;
	}
	overflow: hidden;
}
body.showing-mini-player {
	.app {
		height: calc(~'100% - ' @playerHeight);
	}
	.mini.player {
		transform: translateY(0);
	}
	nav.main.menu {
		overflow: hidden;
	}
}

.context-menu {
	background: @dark-bg-alternate;
	color: @darkest-color;
	//width: 200px;
	//height: 250px;
	border-radius: 0.5em;
	position: fixed;
	display: inline-block;
	z-index: 99;
	min-width: 150px;
	max-width: 250px;
	max-height: 300px;
	overflow: hidden;
	border: 0.045em solid @dark-bg-alternate-lighter;

	ul {
		margin: 0;
		padding: 0;
		max-height: 300px;
		overflow: hidden;
		overflow-y: auto;
	}

	ul li {
		margin: 0;
		list-style: none;
	}

	ul li:not(:last-child) {
		border-bottom: .05em dashed @dark-bg-alternate-lighter;
	}

	ul li a {
		padding: .65em .5em;
		display: block;
		user-select: none;
		-moz-user-select: none;
	}

	ul li a.disabled {
		cursor: default;
		color: gray;
		opacity: 0.85;
	}

	ul li:hover a:not(.disabled) {
		//background: @highlight;
		color: @highlight;
	}
	ul li a.dangerous:hover:not(.disabled) {
		color: red;
	}
}

.app {
	background: #061927;
	background: @darkest-bg;
	color: @darkest-color;
	width: 100%;
	height: 100%;
	transition: height 500ms;
	overflow: hidden;
	display: flex;
	background: linear-gradient(to bottom, #061927, #05141f)
}

.view {
	order: 2;
	flex: 1 100%;
	position: relative;
	padding: .25em;
	margin: 0;
	margin-left: 0em;
	-moz-transition: all 250ms;
	-webkit-transition: all 250ms;
	-o-transition: all 250ms;
	transition: margin-left 250ms;
	height: 100%;
	box-sizing: border-box;
	overflow: auto;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;

	// fixed header on mobile with margin top and height control
	margin-top: 3.5em;
	height: calc(~'100% - 3.5em');
	// padding-top: 3.5em; // fixed header

	h1 {
		margin: 0 .25em;
	}
	//table.list {

	//}
	table.list.tracks, table.list.queue {
		//height: 100%;
		tr td {
			width: 25%;//calc(~'30%');
		}
		// tr th {
		//	width: 27.5%
		// }
		//
		// tr th:last-child /*, tr td:last-child*/ {
		// 	width: 17.5%;
		// }
		//caption {
		//	display: block;
		//}
		// thead {
		// 	display: block;
		// 	width: 100%;
		// 	tr {
		// 		width: 100%;
		// 		display: block;
		// 	}
		// 	th {
		// 		box-sizing: border-box;
		// 		position: relative;
		// 		display: block;
		// 		float: left;
		// 	}
		// }
		// Hide album when too small
		tr td:nth-child(2), tr th:nth-child(2),
		tr td:nth-child(4), tr th:nth-child(4) {
			display: none;
		}
		tbody {
			//	display: block;
			table-layout: fixed;
			overflow: auto;
			width: 100%;
			height: calc(~'100% - 5.25em');
		}
		tr td:nth-child(3) {
			padding: 0.25em 0.5em;
		}
		tr td:nth-child(3) a {
			display: inline-block;
			padding: 0;
		}
	}
	table.list.artists {
		// tr th, tr td {
		// 	width: 10%;
		// }
		table-layout: auto !important;
		tbody{display: table !important};
		tr:first-child {
			pointer-events: none;
		}
		tr {
			width: 100%;
		}
		tr td:first-child {
			width: 80%;
		}
	}
	table.list.playlists {
		tr td:last-child, tr th:last-child {
			max-width: 7em;
			text-align: center;
		}
	}
	table.list {
		caption {
			text-align: left;
			width: 100%;
		}
		thead th {
			text-align: left;
		}
		border-spacing: 0;
		width: 100%;
		//table-layout: fixed;
		tr th {
			text-align: left;
			padding: 0.5em;
		}
		tr th:last-child {
			text-align: right;
		}
		tr td {
			div.actions > * {
				padding: 0.1em;
				font-size: 1.25em;
				margin: 0.2em;
				display: inline-block;
			}
			/*position: relative;*/
			a:link, a:hover, a:visited, a:active {
				text-decoration: none;
			}
			a:hover, a span:hover {
				text-decoration: underline;
			}
		}
		tr td {
			a {
				display: block;
				padding: .25em .5em;
			}
			div.actions a {
				display: inline-block;
			}
		}

		tr td:first-child {
			a:link, a:hover, a:visited, a:active, span {
				color: @dark-color;
			}
			cursor:pointer;
		}
		tr td span, tr td a, tr td a span {
			cursor: pointer;
		}
		:not(thead) tr:hover, tr:focus{
			background: ~'#ffffff1f';
			td span {
				a:link, a:hover, a:active, a:focus, a:visited {
					color: @dark-color;
				}
				color: @dark-color;
			}
		}
		tr.active {
			background: @dark-bg;
			td {
				a:link, a:hover, a:active, a:focus, a:visited {
					color: @highlight;
				}
				color: @highlight;
			}
			td:first-child span {
				position: relative;
				padding-left: .75em;
			}
			td:first-child span::before {
				content: "\f04b";
				color: @highlight;
				padding: 0 0.25em;
				display: inline-block;
				font: normal normal normal 0.25em FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				position: absolute;
				top: 50%;
				left: -0.5em;
				transform: translate(0%, -50%);
			}
		}
		:not(thead) tr:nth-child(odd):not(:hover):not(.active) td {
			background: rgba(255,255,255,0.025);
		}
		tr td:last-child{
			//width: 3em;
			text-align: right;
			//padding: 0;
			//padding-right: 0.5em;
			//span {
			//	padding: 0;
			//}
		}
	}
}

input#nav-main-menu{
	display: none;
}

// menu pullover tag (old)
// label.main.menu-toggle {
// 	display: inline-block;
// 	display: none;
// 	position:fixed;
// 	top: calc(~'50% - ' @playerHeight);
// 	left: 15em;
// 	padding: calc(~'10px + .2em');
// 	background: @highlight;
// 	color: @dark-bg;
// 	-webkit-font-smoothing: antialiased;
// 	-moz-osx-font-smoothing:grayscale;
// 	transition: transform 250ms;
// 	height: 4em;
// 	width: 1em;
// 	border-radius: 4em;
// 	border-top-left-radius: 0;
// 	border-bottom-left-radius: 0;
// 	cursor: pointer;
// 	z-index: 5;
// 	transform: translateX(-15em);
// }

label.main.menu-toggle {
	display: inline-block;
	position: fixed;
	top: 0;
	right: initial;
	padding: .25em .55em;
	font-size: 1.3em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transition: transform 250ms;
	height: 2.25em;
	width: 1.5em;
	cursor: pointer;
	z-index: 6;
	//transform: translateX(0em);
}

//input#nav-main-menu:checked ~ label.main.menu-toggle{
	//opacity: 0.5;
	//transform: 0em; //translateX(calc(~'100% + 4em'));
//}
input#nav-main-menu:checked ~ label.main.menu-toggle:before {
	//content: "\f100";
	//content: '☰';
	content: "\f00d";
}
label.main.menu-toggle:before{
	//content: "\f101";
	content: '☰';
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	position: absolute;
	top: 50%;
	font-size: 1.5em;
	transform: translate(0, -50%);
}
input#nav-main-menu:checked ~ label.main.menu-toggle {
	right: 0;
}
input#nav-main-menu:checked ~ nav.main.menu {
	//transform: translateX(15em);
	z-index: 5;
	opacity: 1;
}
input#nav-main-menu:not(:checked) ~ nav.main.menu {
	//transform: translateX(0em);
	z-index: -1;
	opacity: 0;
}

// nav.main.menu::after {
// 	content: '';
// 	background: radial-gradient(circle at center, ~'#61616124', transparent);
// 	height: 85%;
// 	width: .15em;
// 	position: absolute;
// 	top: 50%;
// 	bottom: 0;
// 	transform: translate(0%, -50%);
// 	right: 0.25em;
// 	border-radius: 100%;
// }

nav.main.menu.icons {
	text-align: center;

	ul li {
		padding: 0.5em 0;
	}
}

nav.main.menu {
	background: @dark-bg-alternate;
	order: 1;
	flex: 1 auto;
	position: relative;
	padding-right: .25em;
	height: 100%;
	display: inline-block;
	transition: transform 250ms;
	z-index: 5;
	max-width: 20em;
	//left: -15em;
	//transform: translateX(-15em);
	-moz-user-select: none;
	user-select: none;

	// Mobile responsive menu
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	max-width: initial;
	max-height: initial;
	overflow-y: auto !important;
	transition: all 250ms;

	.search {
		margin: .25em 0;
		display: inline-block;
		white-space: nowrap;
		width: calc(~'100% - 2.5em');
		.fa-search {
			transform: rotateY(180deg);
			white-space: nowrap;
			font-size: 1em;
			margin: .5em;
		}
		input {
			font-size: 1.15em;
			background: ~'#ffffff1f';
			outline: none;
			border: none;
			color: white;
			white-space: nowrap;
			width: calc(~'100% - 2.5em');
			box-sizing: border-box;
			padding: .5em;
			margin: .25em 0;
			border-radius: .2em;
		}
		input:focus {
			//background: @dark-bg-lighter;
			color: @dark-color;
		}
		input:focus ~ i {
			color: @highlight;
		}
	}
	.search:hover {
		//background: @dark-bg-lighter;
		color: @dark-color;
	}
	ul, li {
		margin: 0;
		padding: 0;
		display: inline-block;
		box-sizing: border-box;
	}
	ul:first-child {
		height: calc(~'100% - 3em');
	}
	ul {
		overflow: hidden;
		overflow-y: auto;

		::-webkit-scrollbar {
			height: .1em;
			width:  .1em;
		}
		::-webkit-scrollbar {
			width: .1em;
			background-color: transparent;
		}
		::-webkit-scrollbar-corner {
			background-color: transparent;
		}
		::-webkit-scrollbar-thumb {
			border-image-source: initial;
			border-image-slice: initial;
			border-image-width: initial;
			border-image-outset: initial;
			border-image-repeat: initial;
			background-color: rgba(255,255,255,0.2);
			border-width: 1px;
			border-style: solid;
			border-color: transparent;
		}
		::-webkit-scrollbar-track {
			background-color: transparent;
		}
		/*-moz-transition: width 200ms, opacity 800ms, height 500ms;
		-webkit-transition: width 200ms, opacity 800ms, height 500ms;
		-o-transition: width 200ms, opacity 800ms, height 500ms;
		transition: width 200ms, opacity 800ms, height 500ms;*/
		//overflow: hidden;
		display: block;
		opacity: 1;
		li {
			display:inline-block;
			width: 100%;
			list-style: none;
			a,
			a:link,
			a:active,
			a:visited {
				display: inline-block;
				cursor: pointer;
				color: @dark-color;
				text-decoration: none;
				padding: 0;
				box-sizing: border-box;
				width: calc(~'100% - 1em');
				margin: 0em 0.5em;
				box-sizing: border-box;
				vertical-align: middle;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				i {
					padding: 0;
					margin: 0;
					margin-right: .5em;
					vertical-align: middle;
				}
				span {
					vertical-align: middle;
					pointer-events: none;
				}
			}
			/*a:hover {
				background: @dark-bg-lighter;
				color: @dark-color;
			}*/
			ul {
				box-sizing: border-box;
				li a, li a:link, li a:active, li a:visited{
					width: calc(~'100% - 1em');
					padding: .5em;
					border-radius: 0.2em;
					margin: 0.1em 0.5em;
					box-sizing: border-box;
				}
				li a:hover, li a.active{
					background: ~'#ffffff1f';
					color: @dark-color;
					border-right: .2em solid @dark-color;
				}
				li a.active{
					border-right: .2em solid @highlight;
				}
			}
		}
		li.playlists {
			//height: calc(~'100% - 15em');
			ul {
				display:block;
				//height: calc(~'100% - 2em');
				//overflow-y: auto;
			}
		}
	}
	ul.usermenu {
		overflow: hidden;
		max-height: 4em;
		-moz-transition: max-height 500ms;
		-webkit-transition: max-height 500ms;
		-o-transition: max-height 500ms;
		transition: max-height 500ms;
		img {
			width: 32px;
			height: 32px;
			border-radius: .25em;
			border: solid .025em rgba(0,0,0,.5);
			box-sizing: border-box;
			margin-right: .5em;
			display:inline-block;
			vertical-align: middle;
		}
		i {
			padding: 0;
			margin: 0;
			margin-right: .5em;
			vertical-align: middle;
		}
		span {
			vertical-align: middle;
		}
		li a, li a:link, li a:active, li a:visited {
			display: inline-block;
			cursor: pointer;
			padding: .5em;
			border-radius: 0.2em;
			width: calc(~'100% - 0.5em');
			margin: 0.1em 0.5em;
			box-sizing: border-box;
		}
		li a:hover, li a.active{
			background: ~'#ffffff1f';
			color: @dark-color;
			border-right: .2em solid @dark-color;
		}
		li a.active{
			border-right: .2em solid @highlight;
		}
		a {
			padding: .5em 1em;
		}
	}
}

.menu-fixed-status {
	position: fixed;
	height: 3.5em;
	background: @dark-bg;
	width: 100%; //calc(~'100% - 0.5em');
	box-sizing: border-box;
	padding: 1.1em 0.5em 1.1em 3.5em;
	z-index: 4;
}

//nav.main.menu.show_usermenu {
	/*
	Prevent hide
	ul:first-child {
		height: calc(~'100% - 8.05em');
	}*/
//	ul.usermenu {
//		max-height: 11.20em;
//	}
//}
.notransitions {
	transition: none !important;
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
}
.player {
	user-select: none;
	-mz-user-select: none;
	-o-user-select: none;
	width: 100%;
	transition: all 200ms;
	text-align: center;

	.container{
		position:relative;
		height: 100%;

		.track {
			.cover {
				display: inline-block;
				width: 15em;
				height: 15em;
				overflow: hidden;
				img {
					transform-origin: center;
					border-radius: .25em;
					border: solid .025em rgba(0,0,0,.5);
					box-sizing: border-box;
					width:100%;
					height:100%;
					margin: auto;
					display: inline-block;
					//box-shadow: 0 0 25px black;
				}

				.love {
					position: absolute;
					top: 0;
					background: rgba(0,0,0,.80);
					width: 100%;
					height: 100%;
					font-size: 5em;
					text-align: center;
					vertical-align: middle;
					line-height: 2.75em;
					opacity: 0;
					transform-origin: center;
					transform: scale(1.5, 1.5);
					cursor: pointer;
					transition: all .2s;
					overflow: hidden;
				}

				.cover:hover .love, .love:hover {
					transform: scale(1, 1);
					opacity: 1;
				}

				.love.active {
					color: crimson;
				}
			}

			.information {
				display: block;
				/*vertical-align: middle;*/
				a:link, a:visited, a:hover, a:active {
					color: @dark-color;
					text-decoration: none;
				}
				.name { font-weight: 400; margin-top: .2em }
				.name, .album, .artist {
					text-overflow: ellipsis;
					max-width: 100%;
					overflow: hidden;
					white-space: nowrap;
					cursor: pointer;
				}
			}
		}
		.status {
			width: 15em;
			display: block;
			span:nth-child(2) {
				display: none;
			}
			span:first-child {
				float: left;
			}
			span:last-child {
				float: right;
			}
		}

		.progress {
			.tracker {
				width: 15em;
				height:.5em;
				margin: 1em auto 0;
				background: @highlight-embed;
				transition: all 100ms linear;
				border-radius: .5em;
				overflow: hidden;
				.active {
					position: relative;
					height:100%;
					transition: width 100ms linear, background 1s linear;
					width: 0%;
					//transform: scale(0,1);
					//transform-origin: left;
					background: @highlight;
				}
				.active::after {
					content: '';
					//border-radius: 100%;
					background: @light-bg;
					box-shadow: 0 0 5px @darkest-bg;
					position: absolute;
					top: 0;
					right: 0;
					width: 0.5em;
					height: 100%;
					z-index: 99;
					opacity: 0;
				}

				.active.loading {
					width: 100% !important;
					animation-direction: normal;
					animation-timing-function: linear;
					animation-iteration-count: infinite;
					animation-duration: 1s;
					animation-name: loadingTrack;
					transition: none;
					background: transparent;

					&::after {
						background: @dark-bg-alternate-lighter;
						opacity: 1;
						width: 25%;
						left: 0;
						right: initial;
					}
				}
			}
			.tracker:hover .active::after {
				opacity: 1;
			}
		}

		.additional.playback .fa {
			font-size: 1.5em;
			margin: .5em;
		}

		.additional.playback {
			max-width: 225px;
			margin: auto;
			.group-l {
				float: left;
			}
			.group-r {
				float: right;
			}
		}

		.playback, .additional {
			.fa {
				font-size: 1.5em;
				color: @dark-color-embeded;
				margin: 0 .1em;
				vertical-align: middle;
				cursor: pointer;
			}

			.fa.fa-repeat {
				position: relative;
			}

			.fa.fa-repeat.active.once::after {
				content: '1';
				//display: inline-block;
				//margin: 0 0 0 -0.6em;
				//transform: translate(100%, -10%);
				font-size: .65em;
				font-weight: 600;
				font-family: monospace;
				position: absolute;
				bottom: 0;
			}

			.fa.fa-volume-off, .fa.fa-volume-mute {
				color: red;
			}

			:not(.fa-play).active,
			:not(.fa-pause).active,
			:not(.fa-backward).active,
			:not(.fa-forward).active {
				color: @highlight;
			}

			.fa.fa-play,
			.fa.fa-pause,
			.fa.fa-backward,
			.fa.fa-forward {
				font-size: 2.5em;
				margin: .05em;
				color: @dark-color;
			}

			.fa.fa-play,
			.fa.fa-pause {
				margin: .5em;
				width: 1em;
				text-align: center;
			}
		}

		.status {
			display: inline-block;
		}

	}
}
@keyframes loadingTrack {
	0% {
		transform: translate(-100%, 0%);
	}
	100% {
		transform: translate(100%, 0%);
	}
}

.mini.player {
	transition: transform 200ms ease-in-out;
	position: fixed;
	transform: translateY(@playerHeight);
	bottom: 0;
	background: @dark-bg;
	color: @dark-color;
	height: @playerHeight;
	text-align: left;

	.progress {
		.tracker {
			border-radius: 0em;
			width: 100%;
			margin: 0;
		}
	}

	.track {
		display: block;
		min-width: 200px;
		max-width: 100%;
		.cover {
			margin: 0.2em .5em;
			// display:inline-block;
			vertical-align: middle;
			float: left;
			width: 3.85em;
			height: 3.85em;
			overflow: hidden;
			.love {
				font-size: 1.5em;
			}
		}
		.information {
			max-width: 100%;
			max-width: 20em; // mobile
			display: block;
		}
	}

	.playback {
		// new (left side main controls)
		float: right; // mobile
		margin: 0.5em;
	}

	.playback, .additional {
		.fa.fa-play,
		.fa.fa-pause,
		.fa.fa-backward,
		.fa.fa-forward {
			font-size: 2em;
		}
	}

	.playback, .additional {
		.fa {
			font-size: 1.2em;
		}
	}

	.additional {
		position: absolute;
		top: 50%;
		right: 0;
		display: inline-block;
		font-weight: 600;
		transform: translate(0%, -50%);
		padding: .5em;
		margin-top: .25em;
		* {padding: .2em}
	}

	.container {
		.additional {
			display: none; // mobile
		}
		.playback {
			.fa.fa-backward,
			.fa.fa-forward,
			.fa.fa-repeat,
			.fa.fa-random {
				display: none;
			}
		}
	}

	.status {
		width: auto;
		display: inline-block;
		span:nth-child(2) {
			display: inline-block;
		}
		span:first-child {
			float: none;
		}
		span:last-child {
			float: none;
		}

		.additional {
			display: none; // mobile
		}
		.playback {
			.fa.fa-backward,
			.fa.fa-forward,
			.fa.fa-repeat,
			.fa.fa-random {
				display: none;
			}
		}
	}
}

.cover-icon-grid {
	text-align: center;
	display: flex;
	//justify-content: center;
	flex-direction: column;
	flex-flow: row wrap;

	.album, .artist {
		display: inline-block;
		text-align: center;
		margin: .5em;
		width: 10em;
		overflow: hidden;
	}
	.album > div *, .artist > div * {
		overflow: overlay;
		display: inline-block;
		vertical-align: middle;
	}

	.album img, .artist img {
		background-image: url('../images/cover-medium-light.png');
		background-repeat: no-repeat;
		background-size: contain;
	}

	.album > div, .artist > div {
		display: inline-block;
	}

	.album > div img, .artist > div img {
		margin: 0em;
		width: 8em;
		height: 8em;
		border-radius: 0.15em;
		pointer-events: none;
	}
	.album h3,
	.artist h3,
	.album b,
	.artist b,
	.album p,
	.artist p {
		margin: 0;
		min-width: 8em;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.cover-icon-grid {
	text-align: center;
	display: flex;
	//justify-content: center;
	flex-direction: column;
	flex-flow: row wrap;

	.album, .artist {
		display: inline-block;
		text-align: center;
		margin: .5em;
		width: 10em;
		overflow: hidden;
	}
	.album > div *, .artist > div * {
		overflow: overlay;
		display: inline-block;
		vertical-align: middle;
	}

	.album img, .artist img {
		background-image: url('../images/cover-medium-light.png');
		background-repeat: no-repeat;
		background-size: contain;
	}

	.album > div, .artist > div {
		display: inline-block;
	}

	.album > div img, .artist > div img {
		margin: 0em;
		width: 8em;
		height: 8em;
		border-radius: 0.15em;
		pointer-events: none;
	}
	.album h3,
	.artist h3,
	.album b,
	.artist b,
	.album p,
	.artist p {
		margin: 0;
		min-width: 8em;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: inline-block;
	white-space: nowrap;
}
.altcenter {
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translate(50%, -50%);
	display: inline-block;
}
.fullscreenflex {
	display: flex;
	height: 100%;
	width: 100%;
}
.fullscreenflex {
	justify-content: center;
	.showcase div img {
		max-height: initial;
		min-height: initial;
		max-width: initial;
		min-width: initial;
		height: initial;
		width: initial;
	}
}
.fullscreenflex.item {
	// Place one item in the middle of the screen vertically
	align-items: center;
}
.showcase, .album.showcase, .artist.showcase {
	display: flex;
}
.showcase > div img {
	width: 100%;
	width: 8em;
	height: 8em;
	max-width: 8em;
	max-height: 8em;
	min-width: 8em;
	min-height: 8em;
	border-radius: 0.15em;
	overflow: hidden;
}
.showcase > div {
	//display: inline-block;
	vertical-align: middle;
	padding: .5em;
	white-space: initial;
	// flex everything vertically but not horizontally
	margin: auto 0;
}
.showcase > div:last-child {
	// flex everything horizontally but not vertically
	margin: auto 0;
}
//.showcase > div:last-child > .controls {
	//margin-top: 1em;
//}
.showcase h1,
.showcase h2,
.showcase h3,
.showcase h4 {
	margin: 0 0;
}
.showcase h1 {
	font-size: 1.5em;
}

.alert {
	display: block;
	background: #a00227;
	font-size: .55em;
	padding: .5em;
	width: calc(~'100% - 2em');
	box-sizing: border-box;
	margin: 1em;
	border-radius: .25em;
	border: 0.1em solid #bd2e2e;
	h1 {
		font-weight: 600;
		margin: 0;
	}
	h2, h3, pre, p {
		font-weight: 400;
		margin: 0;
		padding: 0;
	}

}
body > .engraved {
	font-size: 1.5em;
	padding: 0em;
}

// body > .engraved > h3 {
// 	white-space: nowrap;
// }
.engraved {
	color: @dark-color-embeded;
	display: block;
	//padding: 2.5em 2em;
	text-align: center;
	width: 100%;
	h1 {
		// white-space: nowrap;
		/*font-size: 3.5em;*/
		font-weight: 200;
		white-space: pre-wrap;
	}
	h3 {
		white-space: pre-wrap;
		font-weight: 600;
	}
}
a.button,
input[type='button'],
input[type='submit'] {
	border: 1px solid @highlight;
	border-radius: 0.15em;
	overflow: hidden;
	background: @highlight;
	color: @dark-color;
	padding: 10px 30px;
	display: block;
	margin: 5px auto;
}
a.button {
	text-decoration: none;
	display: inline-block;
}
a.button:active {
	color: @dark-color;
	background: darken(@highlight, 10%);
}

.dialog {
	background: @dark-bg;
	color: @dark-color;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 20em;
	max-width: 20em;
	max-height: 100em;
	min-height: 10em;
	/*box-shadow: 0 0 10px black;
	border-radius: 2px;*/
	padding: 1em;
	font-size: 1.25em;
	box-sizing: border-box;

	input:not([type]),
	input[type="email"],
	input[type="number"],
	input[type="password"],
	input[type="tel"],
	input[type="url"],
	input[type="text"] {
		border-radius: .15em;
		border: 0.05em solid @input-border-color;
		background: @input-bg;
		color: @input-color;
		width: calc(100% - 10px);
	}
	input {
		font-size: 1em;
		outline: none;
		padding: 0.5em 0.35em;
		margin: 0.2em;
		box-sizing: border-box;
		-webkit-font-smoothing: subpixel-antialiased;
		transition: all 250ms;
	}
	input:focus {
		border-color: @highlight;
	}
	input[type='button']:focus,
	input[type='submit']:focus {
		border: 1px solid @border-highlight;
	}
	a.button,
	input[type='button'],
	input[type='submit'] {
		border: 1px solid @highlight;
		background: @highlight;
		color: @dark-color;
		padding: .3em 1em;
		display: block;
		margin: .5em auto;
		border-radius: 0.15em;
	}
	a.button {
		text-decoration: none;
		display: inline-block;
	}
	.error {
		color: white;
		border: solid .05em red;
		border-radius: .25em;
		background: #ff6565;
		margin: .25em 0;
		padding: .25em;
		text-transform: UPPERCASE;
	}
}

a:link, a:active, a:visited {
	color: @highlight;
	cursor: pointer;
}
a:hover {
	cursor: pointer;
}

::-webkit-scrollbar {
	height: .5em;
	width:  .5em;
}
::-webkit-scrollbar {
	width: .5em;
	background-color: transparent;
}
::-webkit-scrollbar-corner {
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	background-color: @dark-color-embeded;
	border-width: 1px;
	border-style: solid;
	border-color: @dark-color-embeded;
}
::-webkit-scrollbar-track {
	background-color: @darkest-bg;
}

/*
 * Normal desktop screens until 1080p
 * Portrait screens to follow mobile portrait mode to save wasted screen space!
*/
@media screen and (min-width: 1025px) and (orientation: landscape) {
	.mobile-only {
		display: none !important;
	}
	nav.main.menu {
		position: relative;
		right: initial;
		max-width: 20em;
		opacity: 1 !important;
		z-index: 5 !important;
		margin-right: 1em;
		.search {
			width: 100%;
		}
	}
	.menu-fixed-status {
		display: none;
	}
	label.main.menu-toggle {
		visibility: hidden;
		display: none;
	}
	.showcase {
		display: flex;
	}
	.view {
		// removed fixed header on desktop
		padding-top: .25em;
		height: 100%;
		margin-top: 0;

		tr td {
			div.actions > * {
				padding: 0.2em;
				font-size: 1.45em;
			}
		}
		table.list.playlists {
			tr td:last-child, tr th:last-child {
				max-width: 0.5em;
			}
		}

		table.list.tracks, table.list.queue {
			tr td:nth-child(2), tr th:nth-child(2),
			tr td:nth-child(4), tr th:nth-child(4) {
				display: table-cell;
			}
		}
	}
	.mini.player .container {
		.additional {
			display: block;
		}
		.track .information {
			max-width: 100%;
		}
		.playback {
			.fa.fa-backward,
			.fa.fa-forward,
			.fa.fa-repeat,
			.fa.fa-random {
				display: inline-block;
			}
		}
		.playback {
			float: left;
		}

	}
	.view .center.engraved {
		padding: 2.5em 2em;
		//width: initial;
	}
	.view .center.engraved.error {
		font-size: 1.25em;
	}
}

/* Screens with minimum 1000px width */
@media screen and (min-width: 1000px) {
	// Currently Empty
}

/* Mobile generic screens with device ratio 2 */
@media (-webkit-min-device-pixel-ratio: 2) {
	.view {

		tr td {
			div.actions > * {
				padding: 0.2em;
				font-size: 1.45em;
			}
		}
		table.list.playlists {
			tr td:last-child, tr th:last-child {
				max-width: 1.25em;
			}
		}
	}
	body {
		font-size: .8em;
	}
}

/* Desktop screen with 2K width */
@media screen and (min-width: 2000px) {
	body {
		font-size: 1.15em;
	}
}

/* Mobile/Desktop screens with high 2K resolutions */
@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 2000px) {
	body {
		font-size: 1.15em;
	}
}

/* iOS / Android Phones, Low Resolution */
@media (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 300px) and (orientation: portrait) {
	.track.showcase {
		display: block;
	}
}

/* iOS / Android Phones, Medium Resolution */
@media (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 420px) and (orientation: landscape) {
	body {
		font-size: 1.5em;
	}
}
@media screen and (min-width: 600px) {
	// table.list.tracks {
	// 	tr th:nth-child(2) {
	// 		display: initial;
	// 	}
	// }
}
@media (-webkit-min-device-pixel-ratio: 2) {
	// table.list.tracks {
	// 	tr th:nth-child(2) {
	// 		display: none;
	// 	}
	// }
	//body {
		//font-size: 2.5em;
	//}
}
@media (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 420px){
	body {
		font-size: 1.5em;
	}
}
@media (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 550px){
	body {
		font-size: 1.15em;
	}
	.track.showcase {
		display: flex;
	}
	.track.showcase > div img {
		width: 10em;
		height: 10em;
	}
}

/* iPad - Landscape */
@media screen and (min-width: 800px) and (orientation: landscape) {
	.track.showcase {
		display: flex;
	}
	.track.showcase > div img {
		width: auto;
		height: auto;
	}
}

/* iPad - Portrait */
@media screen and (min-width: 700px) and (orientation: portrait) {
	.track.showcase {
		display: flex;
	}
	.track.showcase > div img {
		width: auto;
		height: auto;
	}
}
/* iPad Pro - Portrait */
@media (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 1000px) and (orientation: portrait) {
	body {
		font-size: 1.25em;
	}
}
