// @import (less) "../js/libs/jquery.jscrollpane/jquery.jscrollpane.css";
@import "./settings";

.jspVerticalBar, .jspHorizontalBar {
	.jspTrack {
		background: @dark-bg-alternate;
		// Nothing is needed here
	}
	.jspDrag {
		background: @highlight;
	}
}
.jspVerticalBar {
	width: 0.5em;
}
.jspHorizontalBar {
	height: 0.5em;
}
nav.main.menu.jspScrollable {
	width: 100% !important;
}
