
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/raleway_thin-webfont.eot');
    src: url('../fonts/raleway/raleway_thin-webfont.eot?#iefix') format('eot'),
         url('../fonts/raleway/raleway_thin-webfont.woff') format('woff'),
         url('../fonts/raleway/raleway_thin-webfont.ttf') format('truetype'),
         url('../fonts/raleway/raleway_thing-webfont.svg#webfontkw9J4lGf') format('svg');
    font-weight: normal;
    font-style: normal;
 
}

